# Бинарные файлы
*.exe
*.dll
*.so
*.dylib

# Каталог Go-модуля
/pkg/
**/pkg/

# Логи
*.log

# Сгенерированные файлы
/docs/
/bin/
/tmp/

# Файл переменных окружения
.env

# IDE и редакторы
.vscode/
.idea/
*.swp
*~